/* pages/RobotContact/RobotContact.wxss */
.objBox {
  height: 80vh;
}

.controlBox {
  position: absolute;
  width: 100%;
  bottom: 60rpx;

  .wsBox {
    height: 120rpx;
    padding: 20rpx;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20rpx;

    .inputBox {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      height: 89rpx;
      padding-left: 20rpx;
      
      label {
        color: white;
      }
      
      input {
        flex: 1;
        padding-left: 10rpx;
        color: white;
      }
    }

  }

  .modeBox {
    height: 120rpx;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.myButton {
  box-sizing: border-box;
  width: 200rpx;
  height: 89rpx;
  padding: 10rpx;
  text-align: center;
  line-height: 65rpx;
  font-size: 28rpx;
  color: white;
}

.techBorder{
  border: 2px solid #21FBFC;
  border-radius: 60rpx;
  background: -webkit-linear-gradient(left,rgba(0,0,0,0.5), rgba(255,255,255,0));
}