/* pages/RobotContact/RobotContact.wxss */
.objBox {
  height: 80vh;
}

.controlBox {
  position: absolute;
  width: 100%;
  bottom: 60rpx;

  .wsBox {
    height: 120rpx;
    padding: 20rpx;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20rpx;

    .inputBox {
      display: flex;
      align-items: center;
      height: 89rpx;

      label {
        color: white
      }

      input {
        flex: 1
      }
    }

  }

  .modeBox {
    height: 120rpx;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.myButton {
  box-sizing: border-box;
  width: 200rpx;
  height: 89rpx;
  padding: 10rpx;
  text-align: center;
  line-height: 69rpx;
  font-size: 28rpx;
  color: white;
}