/* pages/RobotContact/RobotContact.wxss */
.objBox{
  height: 80vh;
}

.controlBox{
  position: absolute;
  bottom: 60rpx;
  
  .wsBox{
    height: 120rpx;
    padding: 20rpx;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20rpx;

    input{
      
    }
  }
  
  .modeBox{
    height: 120rpx;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

button{
  width: 200rpx !important;
  height: 89rpx;
  padding: 10rpx;
  line-height: 69rpx;
  font-size: 28rpx;
  color: white;
}